/* coluna */
.coluna {
  flex: 1;
  background: #0f172a;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* titulo */
.titulo {
  font-weight: 600;
}

/* botao */
.botao {
  margin-top: 5px;
  background: #334155;
  border: none;
  padding: 8px;
  border-radius: 6px;
  height: 50px;
  color: white;
  cursor: pointer;
}

.botao:hover {
  background-color: #22c55e;
}
